ATomcatRuntimeProject/WebContent/WEB-INF/classes/EGLbin/wsdl/ASOAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:tns="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services" xmlns:tns="http://services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <element name="returnValue">
        <complexType>
          <sequence>
          <element name="value" nillable ="false" maxOccurs="1" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="returnValueResponse">
        <complexType>
          <sequence>
          <element name="return" nillable ="false" maxOccurs="1" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="returnValueRequest">
    <wsdl:part name="parameters" element="tns:returnValue"/>
  </wsdl:message>
  <wsdl:message name="returnValueResponse">
    <wsdl:part name="parameters" element="tns:returnValueResponse"/>
  </wsdl:message>
  <wsdl:portType name="ASOAPService">
    <wsdl:operation name="returnValue">
      <wsdl:documentation>EGL_PARAMETER_ORDER value return </wsdl:documentation>
      <wsdl:input name="returnValueRequest" message="tns:returnValueRequest"/>
      <wsdl:output name="returnValueResponse" message="tns:returnValueResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASOAPServiceBinding" type="tns:ASOAPService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="returnValue">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="returnValueRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="returnValueResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASOAPServiceService">
    <wsdl:port name="ASOAPService" binding="tns:ASOAPServiceBinding">
      <wsdlsoap:address location="http://localhost:9080/AServiceProject/services/ASOAPService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
